.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AppHeader {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: #53488d;
  width: 100%;
  height: fit-content;
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}